body {
  font-family: Arial;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

#intro {
  background: #fdfdfd;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  padding: 10px;
  margin-bottom: 30px;
}

#intro span {
  background-color: yellow;
}

#posts ul {
  margin-top: 10px;
  padding-top: 10px;
}

#posts {
  padding-left: 0;
}

#posts li {
  margin-bottom: 5px;
}

#posts > li {
  margin-bottom: 25px;
  padding-left: 0;
}

#posts > li > ul {
  border-top: 2px solid black;
}

#posts {
  list-style-type: none;
  margin-left: 0;
}
