body {
  font-family: Arial;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

#posts ul {
  margin-top: 10px;
  padding-top: 10px;
}

#posts li {
  margin-bottom: 5px;
}

#posts > li {
  margin-bottom: 25px;
}

#posts > li > ul {
  border-top: 2px solid black;
}

#posts {
  list-style-type: none;
  margin-left: 0;
}
